h1{
 text-align: center;
 color: white;   
}

p{
    text-align: center;
    color: white;
}

.a{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.b{
    text-align: center;
    border-radius: 1cm;
}

body{
    background-size: cover;
}

